
@font-face {
  font-family: 'SegoeUIBlack-Italic';
  src: url('SegoeUIBlack-Italic.eot?#iefix') format('embedded-opentype'),  url('SegoeUIBlack-Italic.woff') format('woff'), url('SegoeUIBlack-Italic.ttf')  format('truetype'), url('SegoeUIBlack-Italic.svg#SegoeUIBlack-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
