
@font-face {
  font-family: 'SegoeUI-Semilight';
  src: url('SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),  url('SegoeUI-Semilight.woff') format('woff'), url('SegoeUI-Semilight.ttf')  format('truetype'), url('SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
  font-weight: normal;
  font-style: normal;
}
